@page
@model LionPetManagement_HoaLQ.Pages.LionProfiles.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LionProfile[0].LionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LionProfile[0].Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LionProfile[0].Characteristics)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LionProfile[0].Warning)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LionProfile[0].ModifiedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LionProfile[0].LionType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LionProfile[0].LionType.LionTypeName)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.LionProfile) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Characteristics)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Warning)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LionType.LionTypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LionType.LionTypeName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.LionProfileId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.LionProfileId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.LionProfileId">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<div class="pagination-controls">
    <a asp-page="./Index"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       class="btn btn-primary @prevDisabled">
        &laquo; Trang trước
    </a>

    <span>Trang @Model.PageIndex / @Model.TotalPages</span>

    <a asp-page="./Index"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       class="btn btn-primary @nextDisabled">
        Trang sau &raquo;
    </a>
</div>
